# nejaky komentar

RewriteEngine On

# pokud prijde pozadavek na jakekoliv url co neexistuje
# napr. /kontakt tak misto toho zobrazime index.php?stranka=kontakt
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule (.+) index.php?stranka=$1 [L,QSA]

