/*general*/
* {
	box-sizing: border-box;
}
*, *:before, *:after {
	box-sizing: inherit;
}


/*body*/
body {
	background: #005AA7;  /* fallback for old browsers */  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to top, #FFFDE4, #005AA7) no-repeat; /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

	min-height: 100vh;
}


/*header*/
header {
	text-align: center

}

header h1 {
	color: #cfe2f3;
	font-family: 'Permanent Marker', cursive;
	font-family: 'Press Start 2P', cursive;
}

header h2 {
	color: #cfe2f3;
	font-family: 'Permanent Marker', cursive;
	font-family: 'Press Start 2P', cursive;
}



/*portret foto*/
.portret-1 {
	max-width: 200px;
	margin: 0px auto;
	transition: transform 2s;
}



.portret-1:hover {
	transform: scale(2);
	
}

.portret {
	margin-top: 3.5%;
	margin-bottom: 3.5%;
	border: 3px solid #cfe2f3;
	border-radius: 50%;
	box-shadow: -1px -1px 25px #cfe2f3;
	
	animation: mySpinner 3.5s;
	animation-iteration-count: 1;
	
}

@keyframes mySpinner {
	from {
		transform: rotate(deg);
	}
	250% {
		transform: rotate(360deg);
	}
	to {
		transform: rotate(360deg);
	}
}


/* obrazek dovednosti*/
.skill-img {
	max-width: 250px;
	margin: 0px auto;
	margin-top: 3.5%;
	margin-bottom: 1.5%;
}


.progress {
	max-width: 1024px;
	margin-bottom: 1%;
	margin-left: 35%;
	margin-right: 35%;
}


.dovednosti {
	font-family: 'Permanent Marker', cursive;
	font-family: 'Press Start 2P', cursive;
	color: black;
	text-align: center;
	font-size: 1em;
}



.nav {
	display: inline;
	text-align: center;
	width: 50px;
}


.body-side-2, a { 
	color: #FFFDE4;
	width: 80%;
	margin: auto;
	
}

.uvodFooter {
	color: #FFFDE4;
	width: 80%;
	margin: auto;
	font-size: 0.7em;
}

.icons, .icons-2 {
	color: #005AA7;
}

.icons-2 {
	margin-top: -1rem;
}

.main-side-2 {
	display: flex;
	flex-flow: row wrap;
}

.main-side-2 > * {
	flex: 1;
}

.ul-side-2 { 
	list-style: none;
	padding-left: 0;
}

.header-side-2, nav, article, aside, footer, .map, .bydlim {
	padding: 1.2em;
	background: rgba(39, 196, 245, 0.32);
	border-radius: .5em;
	margin: 5px;
	text-align: center;
}

iframe {
	text-align: center;
	width: 100%;
	margin: 10px 0;
}




.header-side-2 h1, .bydlim {
	color: #FFFDE4;
	font-size: 2em;
	font-family: 'Permanent Marker', cursive;
	font-family: 'Press Start 2P', cursive;
}


.nav-side-2 {
	order: 1;
}

.nav-link {
	max-width: 250px;
}

a { 
	font-family: 'Permanent Marker', cursive;
	font-family: 'Press Start 2P', cursive;
	text-decoration: none;
	font-size: 1.5em
}

p {
	font-family: 'Permanent Marker', cursive;
	font-family: 'Press Start 2P', cursive;
	font-size: 1.2em;

}

footer, h2 {
	margin-top: 0%; 
	font-family: 'Permanent Marker', cursive;
	font-family: 'Press Start 2P', cursive;
}

aside {
	order: 1;
}

.flex-container {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
	padding: 0;
	margin: 0;
	list-style: none;
}
  
.flex-item {
	border-radius: .2em;
	background: rgba(39, 196, 245, 0.32);
	padding: 5px;
	width: 200px;
	height: 150px;
	margin-top: 20%;
	line-height: 150px;
	color: white;
	font-weight: bold;
	font-size: 3em;
	text-align: center;
	-webkit-border-radius: .2em;
	-moz-border-radius: .2em;
	-ms-border-radius: .2em;
	-o-border-radius: .2em;
}


/*ikony*/
.icons {
	text-align: center;
	margin-bottom: 1%;
}

.icons-2 {
	font-size: 500%;
	text-align: center;
}

.fa-html5, .fa-css3-alt, .fa-js {
	font-size: 500%;
	text-align: center;
	margin: 0.333%;
	color: #1d63a1;
}

.fa-html5, .fa-css3-alt, .fa-js:hover {
	
}

/*ukazka zbyva pouze par dnu*/
.bgimg {
	background: #005AA7;  /* fallback for old browsers */  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top, #FFFDE4, #005AA7) no-repeat; /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 		26+, Opera 12+, Safari 7+ */

min-height: 100vh;
height: 100%;
background-position: center;
background-size: cover;
position: relative;
color: white;
font-family: "Courier New", Courier, monospace;
font-size: 25px;
}

.topleft {
position: absolute;
top: 0;
left: 16px;
}

.bottomleft {
position: absolute;
bottom: 0;
left: 16px;
}

.middle {
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
text-align: center;
}

hr {
margin: auto;
width: 40%;
}

/*pivni aplikace*/

.zelena {
	background:#009d00;
}

.cervena {
	background: #ff3333;
}


.aplikace-table {
	text-align: center;
	margin-top: 5%;	
	background-image: url(../img/pivo2.png);
	background-repeat: no-repeat;
  	background-size: 100%;
	background-attachment: fixed;
  	background-position: center;

}

table,th, tr, td  {
	margin: auto;
	border: 0.3rem solid #1d63a1;
	text-align: center;
	color: #000;
	border-spacing: 10%;
}

.aplikace-p {
	font-family: 'Permanent Marker', cursive;
	font-family: 'Press Start 2P', cursive;
	font-size: 1.2em;
	margin-top: 1%;
    margin-bottom: 0%;
	color: #000;
}

button {
	padding: 0.5%;
	margin: 1%;
}

button:hover {
	background-color: #1d63a1;
	color: #FFFDE4;
}

.scaled:hover {
	transform: scale(1.1);
}



































